- wrap_layout :layout do
    
    - current_article = blog.articles.first if not current_article
    
    - previous_article_object = previous_article_en(current_article)
    - next_article_object = next_article_en(current_article)
    
    - tags = current_article.tags.map do |tag|
        - "<a href=\"" + tag_path(tag, current_article.lang) + "\">" + tag + "</a>"

    #content
        %article
            %header.article-title-header
                %h1.article-title
                    = data.page.title
            .content
                .navigation
                    - if next_article_object
                        %span.next-article
                            %a{href: next_article_object.url}
                                %span.article-navigation-tip-block
                                    Next
                                %span.article-navigation-tip-block
                                    Article
                                    
                    - if previous_article_object
                        %span.previous-article
                            %a{href: previous_article_object.url}
                                %span.article-navigation-tip-block
                                    Previous
                                %span.article-navigation-tip-block
                                    Article
                                
                = yield
                
                .post-info
                    %p.publish-date
                        %time{datetime: current_article.date.strftime('%Y-%m-%d'), pubdate: ""}
                        - if I18n.locale == :en
                            = I18n.l(current_article.date, format: "#{current_article.date.day.ordinalize} %B, %Y")
                        - else
                            = I18n.l(current_article.date, format: "%-d %B, %Y")
                            
                    .tags-section
                        %h5 Tags
                        %p.tags
                            = tags.join(", ")
