!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
<!--[if gt IE 8]> --> <html class="no-js"> <!-- <![endif]-->
%head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
        = data.page.title || "Frédéric Maquin"
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:800', rel: 'stylesheet', type: 'text/css'}

    = stylesheet_link_tag "all"
    = javascript_include_tag  "modernizr"

%body{:class => page_classes}
    /[if lt IE 7]
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    %header
        %nav.main-nav
            .logo
                %a{href: "#"}
                    %i.logo-background{"data-icon" => "B", "aria-hidden" => "true"}
                    %i.logo-chair{"data-icon" => "M", "aria-hidden" => "true"}
                    %i.logo-fm{"data-icon" => "F", "aria-hidden" => "true"}
            
            .links
                - if is_blog_article? or data.page.in_blog
                    %ul
                        %li
                            %a{href: "/blog/archive/"} Archives
                        %li
                            %a{href: "/blog/search"} Search
                        %li
                            %a{href: "/about-me/"} About Me
                - else
                    %ul
                        %li
                            %a{href: "/about-me/"} About Me
                        %li
                            %a{href: "/projects/"} Projects
                        %li
                            %a{href: "/blog/"} Blog
    = yield
    - if data.page.photo_credit
        %footer
            Photo Credit:
            = data.page.photo_credit
    = javascript_include_tag  "all"
</html>