---
title: Frédéric Maquin
photo_credit: "<a href=\"http://www.flickr.com/photos/70117145@N05/8405110257/\">jrmllvr</a> <a href=\"http://creativecommons.org/licenses/by-nc-sa/2.0/\">cc</a>"
---

.home-content
    .introduction
        .introduction-section.my-name-is
            %h1.introduction-title-header
                = I18n.t(:hi_my_name_is)
                <em>Fred</em>,
        
        .introduction-section.developer
            %h1.introduction-title-header
                = I18n.t(:i_am_a_developer)
        
        .introduction-section.job
            %h1.introduction-title-header
                = I18n.t(:i_am_looking_for)
                = "<em><a href=\"mailto:frederic@maquin.eu?subject=#{I18n.t(:job_proposal_subject)}\">#{I18n.t(:job)}</a></em>#{I18n.t(:no_breaking_space)}!"
                

.footer.home-footer
    .home-photo-credit
        Photo Credit /
        %a{href: "http://www.flickr.com/photos/70117145@N05/8405110257/"}
            jrmllvr
        \/
        %a{href: "http://creativecommons.org/licenses/by-nc-sa/2.0/"}
            CC BY-SA 2.0